/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    background: #0d1117;
    color: #fff;
}

/* ---------- LADO ESQUERDO ---------- */

.left{
    width: 50%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 80px;
}

.container{
    width: 100%;
    max-width: 430px;
}

.logo{
    font-size: 2.8rem;
    color: #66ff99;
    margin-bottom: 10px;
}

.container h1{
    font-size: 2.3rem;
    margin-bottom: 10px;
}

.container p{
    color: #9fb4a4;
    margin-bottom: 40px;
    line-height: 24px;
}

/* ---------- INPUTS ---------- */

.input-box{
    margin-bottom: 20px;
}

.input-box label{
    display: block;
    margin-bottom: 8px;
    color: #b6cbbd;
    font-size: .95rem;
}

.input-box input{
    width: 100%;
    padding: 16px;

    background: rgba(255,255,255,.05);

    border: none;
    border-radius: 12px;

    color: white;
    font-size: 15px;

    transition: .3s;
}

.input-box input:focus{
    outline: none;

    background: rgba(255,255,255,.08);

    box-shadow: 0 0 15px rgba(102,255,153,.25);
}

/* ---------- BOTÃO ---------- */

button{
    width: 100%;
    padding: 16px;

    margin-top: 15px;

    background: linear-gradient(135deg,#2ecc71,#27ae60);

    color: white;
    border: none;

    border-radius: 12px;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: .3s;
}

button:hover{
    transform: translateY(-2px);

    box-shadow: 0 10px 30px rgba(46,204,113,.35);
}

/* ---------- LOGIN ---------- */

.login{
    margin-top: 25px;
    text-align: center;
    color: #8fa595;
}

.login a{
    color: #66ff99;
    text-decoration: none;
    font-weight: 600;
}

.login a:hover{
    text-decoration: underline;
}

/* ---------- LADO DIREITO ---------- */

.right{
    width: 50%;
    height: 100vh;

    overflow: hidden;
}

.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------- RESPONSIVO ---------- */

@media(max-width:900px){

    body{
        flex-direction: column-reverse;
    }

    .left,
    .right{
        width:100%;
    }

    .right{
        height:35vh;
    }

    .left{
        height:65vh;
        padding:40px;
    }

}